# Default values for gcloud-cleanup.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: travisci/gcloud-cleanup
  tag: ''
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

# Pull secrets from trvs keychain
trvs:
  # If not enabled, be sure to set secretName and create a secret with the
  # necessary environment variables for gcloud-cleanup
  enabled: false
  app: "gcloud-cleanup"
  env: ""
  pro: false

secretName: ""
serviceAccountSecretName: ""

redis:
  enabled: false
  cluster:
    enabled: false
  master:
    persistence:
      enabled: false


env: []
