apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "jupiter-brain.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "jupiter-brain.name" . }}
    helm.sh/chart: {{ include "jupiter-brain.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "jupiter-brain.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "jupiter-brain.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: http
          containerPort: 80
          protocol: TCP
        env:
        - name: JUPITER_BRAIN_ADDR
          value: "0.0.0.0:80"
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: JUPITER_BRAIN_LIBRATO_SOURCE
          value: $(POD_NAMESPACE)-$(POD_NAME)
        envFrom:
        - secretRef:
            name: {{ include "jupiter-brain.fullname" . }}
